<!--<div class="textlayout">

  <h1>{{name | titlecase}}</h1>
  <h1>{{valor | number}}</h1>

  <button pButton pRipple
          type="button"
          label="Success"
          icon="pi pi-apple"
          iconPos="right"
          class="p-button-outlined p-button-rounded p-button-success"
          (click)="getname()">Name
  </button>

  <br>
  <br>

  <button pButton
          icon="pi pi-apple"
          iconPos="right"
          label="Click">

  </button>


  <br>
  <br>
  <p-card [header]="name | titlecase" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/technology.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
      deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!</p>
    <ng-template pTemplate="footer">

        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>--

      <button pButton pRipple
              type="button"
              label="Cancel"
              icon="pi pi-times"
              iconPos="right"
              class="p-button-outlined p-button-rounded p-button-success"
              (click)="getname()"
              [style]="{'margin-right': '.5em'}">
      </button>

      <button pButton pRipple
              type="button"
              label="Confirm"
              icon="pi pi-check"
              iconPos="right"
              class="p-button-outlined p-button-rounded p-button-success"
              (click)="getname()">
      </button>

    </ng-template>
  </p-card>

</div>

-->

<app-bar-menu></app-bar-menu>

<div>

  <router-outlet> </router-outlet>
</div>



